<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Familia</title>
</head>
<body>
    <h1>Grupo Familiar</h1>
    <h2>Familiares:</h2>
    <ul>
        {% for familiar in familiares %}
            <p>
                <li>Nombre: {{familiar.nombre}}</li>
                <li>Apellido: {{familiar.apellido}}</li>
                <li>Edad: {{familiar.edad}}</li>
                <li>Fecha de Nacimiento: {{familiar.fecha_nacimiento}}</li>
            </p>    
        {% endfor %}
    </ul>    
</body>
</html>